body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgb(61, 60, 60);
    color: White;
}

#header {
    padding: 2%;
}

#main {
    margin-top: 2%;
}

.name-designation {
    float: left;
    font-weight: bold;
}

.contact-details {
    float: right;
    font-size: 15px;
}

.my-image {
    border-radius: 50%;
    width: 120px;
    height: 100px;
    margin-left: 30%;
    margin-top: 3%;
    display: flex;
    flex: center;
}

h1 {
    /* font-family: monospace; */
    font-size: 40px;
    text-transform: uppercase;
}

h3 {
    margin-top: 3%;
    text-transform: uppercase;
    /* font-family: monospace; */
}

h4 {
    /* font-family: monospace; */
    text-transform: uppercase;
}

h5 {
    font-weight: bold;
}

#edu-skills {
    background-color: white;
    color: black;
    /* border-right-width: 1px;
    border-right-style: solid;
    border-right-color: grey; */
}

.scholar {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgb(36, 153, 36);
    padding: 5px;
    font-size: 14px;
}

#about {
    background-color: rgb(209, 195, 197);
    color: black;
}

.skill-list {
    font-weight: bold;
    list-style-type: none;
}

.social-links {
    list-style-type: none;
    padding: 5px;
}

.social-links a:hover {
    color: rgb(36, 36, 54);
    font-size: medium;
    transition: .5s;
}

.social-links a {
    color: rgb(38, 38, 102);
    font-size: small;
}


#footer {
    width: inherit;
    height: 4vh;
    text-align: center;
    font-size: 12px;
}

#footer p {
    margin: auto;
}

#footer p a {
    color: white;
}

#footer p a:hover {
    color: rgb(230, 224, 224);
    text-decoration: none;
}

#footer p .right {
    float: right;
}

#footer p .left {
    float: left;
}